MONGO_URI=mongodb+srv://dfanso:fwewefwef4@cluster0.hlfq5tw.mongodb.net/cine-magic?retryWrites=true&w=majority
JWT_SECRET=dsfsd
GMAIL_USER=cine.magic.cinemalk@gmail.com
GMAIL_PASS=dfsdfsd dsfsdf sdfsdf
EMAIL_FROM_ADDRESS=cine.magic.cinemalk@gmail.com
PAYPAL_CLIENT_SECRET=EGlIVCCWjFUQ0qF_faQjyCAC0XXh_fMdfssdfPsgcErmnQ914F1w8opSVE4EOBFqEXEvyi9g-ux-P
PAYPAL_CLIENT_ID=Af-hwdvFeODCG24b0cEvM1qsdfsd3Sd7ePSgE2JXztuWgKfzMFraI2wIY40DclDWr5-7LfZ28
WEBHOOK_ID=62P44016XC63229501
AWS_REGION="eu-west-3"
AWS_ACCESS_KEY_ID="AKIAVOOR2DRFGT3PMZ2WOD"
AWS_SECRET_ACCESS_KEY="ssXTfbrCifdf42bd573aKwFTaa5OzEMSnUuSkJWj7A3"
AWS_BUCKET_NAME="cine-magic"
OMDB_API_KEY=dsd343
