.chat-container {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1001;
    margin: 0;
    padding: 0;
}

.chat-interface {
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 300px;
    height: 400px;
    background-color: #525252;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 10px;
    z-index: 2;
    overflow: hidden;
}

.chat-header {
    background-color: #ffd700;
    color: #333;
    text-align: center;
    padding: 10px;
    border-radius: 15px 15px 0 0;
}

.faq-container {
    overflow-y: auto;
    flex-grow: 1;
    margin-top: 10px;
}

.faq {
    padding: 8px;
    margin: 10px 0;
    background-color: none;
    border: 1px solid #ffd700;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: #ffd700;
}

.faq:hover {
    background-color: #ffd700;
    color: #525252;
    transition: 0.5s;
}

.chat-messages {
    overflow-y: auto;
    flex-grow: 1;
}

.message {
    margin: 5px 0;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border-radius: 15px;
    max-width: 80%;
    align-self: flex-end;
}

.message.admin {
    background-color: #f1f0f0;
    color: black;
    align-self: flex-start;
}

.message-input-container {
    display: flex;
}

.message-input {
    flex-grow: 1;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid #ddd;
}

.send-button {
    background-color: #ffd700;
    color: #333;
    border: none;
    padding: 10px 15px;
    margin-left: 5px;
    border-radius: 15px;

}

.chat-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffd700;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 3;
}

.chat-icon {
    width: 40px;
    height: 40px;
}