.footer-container {
  background: rgba(16, 15, 15);
  padding: 1rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscription_links {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.footer-subscription {
  flex: 1;
  max-width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2px;
  padding: 24px;
  color: #fff;
  margin-right: 100px;
}

.footer-subscription-heading {
  margin-bottom: 10px;
  font-size: 24px;
}

.footer-subscription-text {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-input {
  padding: 8px 20px;
  border-radius: 2px;
  margin-right: 10px;
  outline: none;
  border: none;
  font-size: 18px;
  margin-bottom: 10px;
  border: 2.5px solid #fff;
}

.input-areas button {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border-radius: 2px;
  font-size: 18px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.input-areas button:hover {
  background-color: white;
  color: black;
}

.footer-links {
  flex: 1;
  max-width: 25%;
  /* width: 100%;
  max-width: 1000px; */
  display: flex;
  justify-content: center;
  margin-left: 20px;
}

.footer-link-wrapper {
  display: flex;
}

.footer-link-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 16px; */
  font-size: 22px;
  width: 160px;
  box-sizing: border-box;
}

.footer-link-items a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 5px;
  transition: color 0.6s ease-out, transform 0.6s ease-out;
  transform: scale(1);
}

.footer-link-items a:hover {
  color: #434040;
  transform: scale(0.9);
}

.footer-input::placeholder {
  text-align: center;
  color: #b1b1b1;
}

.social-icon-link {
  color: #fff;
  font-size: 24px;
}

.social-media {
  max-width: 1000px;
  width: 100%;
}

.social-media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* max-width: 1000px; */
  /* margin: 15px auto 0 auto; */
  margin: 20px auto;
  padding: 0;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}

.social-icons a:hover {
  color: #434040;
  transform: scale(0.9);
}

.social-logo {
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.website-rights {
  color: #fff;
  margin-bottom: 5px;
  font-size: 1rem;
}

@media screen and (max-width: 820px) {
  .footer-links {
    padding-top: 1rem;
  }
  .footer-input {
    width: 55%;
    margin: 0;
    margin-bottom: 7px;
  }
  .input-areas button {
    width: 55%;
    margin: 0;
  }
  .footer-link-wrapper {
    flex-direction: column;
  }
  .social-media-wrap {
    flex-direction: column;
  }
  .subscription_links {
    flex-direction: column;
    /* align-items: flex-start; */
    align-items: center;
  }
  .website-rights {
    margin-bottom: 20px;
  }
  .footer-subscription,
  .footer-links {
    align-items: center;
    max-width: 100%;
    margin: 0;
  }
}
