.movie-page {
  width: 100%;
  height: auto;
}

.movie-cover {
  width: 100%;
  height: 100vh;
  /* background-image: url('/images/aquaman-cover.png'); */
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-info {
  text-align: left;
  color: white;
  padding: 20px;
}

.movie-title {
  font-size: 2.3em;
  margin-bottom: 20px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  /* Adds a dark shadow for contrast */
}

.movie-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-action {
  display: flex;
  align-items: center;
  margin-right: 20px;
  text-decoration: none;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-size: 17px;
}

/* .movie-small-text:hover {
    color: #F6C20A;
    border: 1px solid red;
} */

.movie-action .icon {
  font-size: 24px;
  /* Adjust as needed */
  margin-right: 10px;
}

.movie-details {
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 40px;
  background-color: #fafafa;
}

.movie-details h2 {
  font-size: 1.7em;
  margin-bottom: 15px;
  letter-spacing: 2px;
  font-weight: 200;
}

.storyline,
.cast,
.team {
  width: 100%;
  max-width: 800px;
  /* Adjust the width as needed */
}

.movie-des-p {
  padding-bottom: 20px;
}

.storyline p,
.genres span,
.cast-table div,
.team-table div {
  margin-bottom: 10px;
  font-weight: 100;
}

.genres,
.cast-table,
.team-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

hr {
  border: none;
  height: 1px;
  background-color: #000;
  margin: 20px 0;
}

.buy-tickets {
  background-color: #f6c20a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
  margin-bottom: 30px;
}

.buy-tickets:hover {
  background-color: #003399;
}

.cast-table div span,
.team-table div span {
  display: inline-block;
  margin-right: 20px;
  padding-top: 5px;
}

.cast {
  margin-bottom: 30px;
}




/* MovieFeedbackForm.css */
.feedback-section {
  width: 100%;
  background: #333;
}

.feedback-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.feedback-container {
  max-width: 900px;
  background: #333;
  padding: 45px;
  color: #fff;
  margin: auto;
  font-family: Arial, sans-serif;

  margin-top: 20px;
}

.feedback-container h2 {
  color: #ffd700;
  /* Cinemagic theme color */
  text-align: center;
  margin-bottom: 20px;
}

.feedback-container form {
  display: flex;
  flex-direction: column;
}

.feedback-container input[type="text"],
.feedback-container input[type="email"],
.feedback-container input[type="tel"],
.feedback-container textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.feedback-container textarea {
  height: 100px;
}

.feedback-container .feedback-type {
  margin-bottom: 15px;
}

.feedback-container .feedback-type label {
  display: block;
  margin-bottom: 5px;
}

.feedback-container input[type="radio"],
.feedback-container input[type="checkbox"] {
  margin-right: 10px;
}

.feedback-container button {
  background-color: #ffd700;
  /* Cinemagic theme color */
  color: #333;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.feedback-container button:hover {
  opacity: 0.8;
}

.star-rating {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.star {
  color: #ddd;
  /* Default color for stars */
  font-size: 25px;
  cursor: pointer;
}

.star.filled {
  color: orange;
  /* Color for filled stars */
}

/* You can add hover effects if you like */
.star:hover,
.star:hover~.star {
  color: lightgrey;
  /* Color when hovering over a star */
}

/* .movie-whole-section {
  display: grid;
}

.movie-detail-feedback-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
} */