.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    color: #fff;
    /* Light gray background color */
}

.not-found-text {
    font-size: 32px;

    /* Dark gray text color */
    text-align: center;
    padding: 20px;
    border: 2px solid #333;
    /* Dark gray border */
    border-radius: 8px;
    background-color: #444;
    /* White background color for the text */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Shadow for the container */
}