.reset-password {
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.reset-password form {
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(30px);
  padding: 30px 60px;
}

.reset-password h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.reset-password input {
  width: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
}

.reset-password input::placeholder {
  color: white;
}

.reset-password button {
  width: 100%;
  height: 50px;
  background: white;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
}

.reset-password button:hover {
  background: rgba(0, 0, 0, 0.4);
  color: white;
}

.reset-password .error {
  color: red;
  font-size: 1em; 
  margin-bottom: 1rem; 
  text-align: center;
  display: block; 
  overflow: hidden;
  height: 1em;
  line-height: 1em;
}

@media screen and (max-width: 960px) {
  .reset-password h1 {
    font-size: 28px;
  }
}
