.slider-container {
  height: 100vh;
  overflow: hidden;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin: 0;
}

.slider {
  height: auto;
  width: 70%;
}

.slick-slide>div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

.image-container {
  width: 100%;
  height: 340px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  /* border: 1px solid #fff; */
  background: black;
  border-radius: 8px;
  overflow: hidden;
  height: 450px;
  color: #fff;
  width: 100%;
  max-width: 300px;
}

.card-top h1 {
  font-size: 1.4rem;
  text-align: center;
  padding: 0.5rem;
}

.card-bottom h3 {
  text-align: center;
  font-size: 0.8rem;
}

.card-top>img {
  width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}

/* .card-bottom {
  margin: 10px 20px;
} */

@media (max-width: 1024px) {
  .card {
    max-width: 250px;
  }

  .card-top h1 {
    font-size: 1.2rem;
  }

  .card-bottom h3 {
    font-size: 0.7rem;
  }
}

@media (max-width: 768px) {
  .card-top h1 {
    font-size: 1.1rem;
  }

  .card-bottom h3 {
    font-size: 0.6rem;
  }

  .card-image {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .card {
    max-width: 200px;
  }

  .card-top h1 {
    font-size: 1rem;
  }

  .card-bottom h3 {
    font-size: 0.5rem;
  }

  .card-image {
    width: 100%;
  }
}