.testimonial-section {
    width: 100%;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.testimonial-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 15px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    /* background: #525252;
    color: #ffd700; */
    width: 100%;
    max-width: 450px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow: hidden;

}

.testimonial-quote {
    font-style: italic;
}

.testimonial-name {
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 1em;
}

.testimonial-position {
    color: #777;
    font-size: 0.85em;
}


.testimonial-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 10px;
    object-fit: cover;
}


.star-rating {
    display: flex;
    justify-content: center;
    /* Center the stars horizontally */
    margin: 10px 0;
    /* Add some space above and below the star rating */
}

.star {
    color: #ffd700;
    /* Gold color for filled stars */
    font-size: 28px;
    /* Adjust the size of the stars */
    margin: 0 4px;
    /* Space out the stars a little */
}

.star.filled {
    color: #ffd700;
    /* Keep filled stars gold */
}

.star.empty {
    color: #ffd700;

    /* Light grey color for empty stars */
}


@media (max-width: 768px) {

    /* Adjustments for smaller screens */
    .testimonial-card {
        width: 80%;
        /* Adjust width for smaller screens */
        min-height: 350px;
        /* Adjust height for smaller screens */
        margin: 15px auto;
        /* Center the card with automatic margins */
    }
}

@media (max-width: 480px) {

    /* Further adjustments for very small screens */
    .testimonial-card {
        width: 90%;
        /* Increase width to take more space */
        min-height: 300px;
        /* Reduce minimum height */
    }
}