.testimonial-section {
    width: 100%;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: #333;
}

.testimonial-card {
    background-color: #444;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin: 0 15px;
    padding: 20px;
    text-align: center;
    background-color: #191b1c;
    /* background: #525252;
    color: #ffd700; */
    color: #fff;
    width: 100%;
    max-width: 450px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow: hidden;

}

.testimonial-quote {
    font-style: italic;
}

.testimonial-name {
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 1em;
}

.testimonial-position {
    color: #777;
    font-size: 0.85em;
}


.testimonial-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 10px;
    object-fit: cover;
}


.star-rating {
    display: flex;
    justify-content: center;
    /* Center the stars horizontally */
    margin: 10px 0;
    /* Add some space above and below the star rating */
}

.star-rating .star,
.star-rating .star:hover {
    color: #ffd700;
    /* Keep the stars yellow */
    background-color: transparent;
    /* Prevent any background changes */
    pointer-events: none;
    font-size: 25px;
    /* Prevents any mouse events on the stars */
}


@media (max-width: 768px) {

    /* Adjustments for smaller screens */
    .testimonial-card {
        width: 80%;
        /* Adjust width for smaller screens */
        min-height: 350px;
        /* Adjust height for smaller screens */
        margin: 15px auto;
        /* Center the card with automatic margins */
    }
}

@media (max-width: 480px) {

    /* Further adjustments for very small screens */
    .testimonial-card {
        width: 90%;
        /* Increase width to take more space */
        min-height: 300px;
        /* Reduce minimum height */
    }
}