.user-profile-links {
    width: 100%;
    height: 12vh;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.user-profile-links button {
    border: none;
    align-items: center;
    justify-content: center;
    margin: 0 15px; 
    text-decoration: none;
    color: black;
    font-size: 15px;
    background-color: #F6C20A;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.user-profile-links button:hover{
    transform: scale(0.9);

}

@media screen and (max-width: 480px) {
    .user-profile-links {
        flex-direction: column; 
        height: auto; 
        margin: 0;
    }

    .user-profile-links button {
        margin: 8px 0; 
    }
}